.post {
  width: 100%;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  margin-bottom: 10px;
  transition: 0.1s;
  cursor: pointer;
  color: var(--text-color);
}

.post:hover {
  background-color: var(--bg-color-hover);
}

.profilePicContainer {
  margin-right: 15px;
}

.profilePic {
  border-radius: 50%;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.usernameContainer {
  display: flex;
  align-items: center;
}

.username {
  margin: 0;
  font-weight: 600;
  display: flex;
}

.username::after {
  content: '.';
  margin: 0 5px;
  display: block;
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--placeholder);
}

.time {
  font-weight: 400;
  font-size: 0.7rem;
  color: var(--placeholder);
}

.text {
  margin: 10px 0 5px 0;
  font-size: 0.9rem;
}

.imageContainer {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.imageContainer > span {
  position: unset !important;
}

.image {
  border-radius: 10px;
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.actionsContainer {
  display: flex;
}

.iconContainer {
  margin-right: 50px;
  color: var(--placeholder);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.1s;
}

.iconContainer:hover {
  color: var(--blue-bg);
}

.amount {
  margin-left: 5px;
  font-size: 0.8rem;
}

.delete:hover {
  color: var(--icon-active);
}

.light {
  border-color: var(--border-color-light);
  color: var(--text-color-light);
}

.light:hover {
  background-color: var(--bg-color-hover-light);
}
