.input {
  width: 100%;
  padding: 10px 20px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  display: flex;
}

.avatarContainer {
  height: 100%;
  margin-right: 10px;
}

.avatar {
  border-radius: 50%;
}

.textContainer {
  flex-basis: 100%;
}

.text {
  background: transparent;
  outline: none;
  border: none;
  resize: none;
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  width: 100%;
  min-height: 50px;
  padding: 0;
}

.text::placeholder {
  color: var(--placeholder);
}

.selectedImageContainer {
  width: 100%;
  position: relative;
}

.selectedImageContainer > span {
  position: unset !important;
}

.selectedImage {
  border-radius: 10px;
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.deleteImage {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 2rem;
  cursor: pointer;
  color: var(--border-color);
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.inserts {
  display: flex;
  align-items: center;
}

.imagePicker {
  line-height: 100%;
  height: 100%;
  border-radius: 50%;
}

.imageIcon {
  color: var(--blue-bg);
  font-size: 1.3rem;
  cursor: pointer;
}

.button {
  background-color: var(--blue-bg);
  border-radius: 10px;
  padding: 3px 20px;
  width: 80px;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--text-color);
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  text-align: center;
}

.fake {
  filter: contrast(0.5);
  cursor: not-allowed;
}

.light {
  border-color: var(--border-color-light);
}

.lightText {
  color: var(--text-color-light);
}
