.back {
  color: var(--text-color);
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 50%;
  transition: 0.2s;
  padding: 5px;
}

.back:hover {
  background-color: var(--border-color);
}

.light {
  color: var(--text-color-light);
}

.light:hover {
  background-color: var(--border-color-light);
}
