.post {
  margin-top: 20px;
  border: 1px solid var(--border-color);
  border-radius: 10px 10px 0 0;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userInfo {
  display: flex;
  align-items: center;
}

.profilePic {
  border-radius: 50%;
}

.username {
  margin: 0 0 0 10px;
}

.delete {
  color: var(--placeholder);
  cursor: pointer;
  transition: 0.1s;
}

.delete:hover {
  color: var(--icon-active);
}

.imageContainer {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.imageContainer > span {
  position: unset !important;
}

.image {
  border-radius: 10px;
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.date {
  font-size: 0.8rem;
  color: var(--placeholder);
  border-bottom: 1px solid var(--border-color);
  padding: 5px 0;
}

.buttons {
  display: flex;
  align-items: center;
  padding-top: 10px;
  user-select: none;
}

.iconContainer {
  margin-right: 50px;
  color: var(--placeholder);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.1s;
}

.iconContainer:hover {
  color: var(--blue-bg);
}

.liked {
  color: var(--icon-active);
}

.amount {
  margin-left: 5px;
  font-size: 0.8rem;
}

.light {
  border-color: var(--border-color-light);
  color: var(--text-color-light);
}

.lightDate {
  border-color: var(--border-color-light);
}
