.input {
  border: 1px solid var(--border-color);
  border-top: none;
  padding: 10px 20px;
}

.info {
  text-align: center;
  font-size: 1.4rem;
  color: var(--text-color);
  margin: 0;
}

.lightInfo {
  color: var(--text-color-light);
}

.light {
  border-color: var(--border-color-light);
}
