@import url('https://fonts.googleapis.com/css2?family=Montez&family=Poppins:wght@400;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --main-bg: #15202b;
  --blue-bg: #1d9bf0;
  --border-color: #38444d;
  --border-color-light: #e3e8e9;
  --text-color: #f7f9f9;
  --text-color-light: #2a3238;
  --icon-inactive: #8b98a5;
  --icon-active: #f91880;
  --action-btn: #1d9bf0;
  --placeholder: #8692a0;
}
